 

body {
    background-color: #000000;

}


nav {
    background-color: #ffffff;
    /* dark blue */
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

#container {
     border-radius: 25px;
    background-color: white;
    width: 50%;
    height: 500px;
    border: 2px solid black;
    margin: auto;
    margin-top: 290px;
    padding: 10px;
    box-shadow: 0px 0px 100px rgb(32, 128, 184);
}

.number_container>h1 {
    font-size: 5em;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button_container {

    text-align: center;
    margin-bottom: 20px;
    margin-top: 300px;
}

#increase {
    margin-right: 20px;

    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    background-color: #70dd74;
    color: white;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

#reset {
    margin-right: 20px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    background-color: #f06d6d;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: all ease-in-out 0.3s;

}

#decrease {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    background-color: #fbff7a;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: all ease-in-out 0.3s;

}

#back {
    margin-bottom: 10px;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    background-color: #f06d6d;
    color: white;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

#increase:hover {
    background-color: #00ff0d;
    color: black;
    transform: translateY(-3px);
    opacity: 0.9;
}

#reset:hover {
    background-color: #ff0000;
    color: black;
    transform: translateY(-3px);
    opacity: 0.9;
}

#decrease:hover {
    background-color: #fffb00;
    color: black;
    transform: translateY(-3px);
    opacity: 0.9;
}

#back:hover {
    background-color: #ff0000;
    color: black;
    transform: translateY(-3px);
    opacity: 0.9;
}