* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    height: 100vh;
    background: #f4f6f8;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #0f172a;
    /* dark blue */
}



.main {
    background: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.main>h1{
    text-align: center;
    padding-bottom: 20px;
}

.container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 500px;
}



.btn {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 14px 0;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    transition: all 0.3s ease;
}

/* Button Colors */
.primary {
    background: #2563eb;
}

.success {
    background: #16a34a;
}

.warning {
    background: #d97706;
}

.danger {
    background: #dc2626;
}

/* Hover Effect */
.btn:hover {
    transform: translateY(-3px);
    opacity: 0.9;
}