nav {
    background-color: #ffffff;
    /* dark blue */
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

 
body {
    background-color: #0f172a;
 }


.main {
    width: 600px;
    margin: auto;
    background: #e6e6e6;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.main>h1{
    text-align: center;
    padding-bottom: 20px;
}

.container {
    background-color: #fffefe;
    margin: 10px auto;
     width: 400px;
}



.btn {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 14px 0;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    transition: all 0.3s ease;
}

/* Button Colors */
.primary {
    background: #2563eb;
}

.success {
    background: #16a34a;
}

.warning {
    background: #d97706;
}

.danger {
    background: #dc2626;
}

/* Hover Effect */
.btn:hover {
    transform: translateY(-3px);
    opacity: 0.9;
}