 nav {
    border-radius: 20px;
    background-color: #ffffff;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 2em;
    font-weight: bold;
    color: #2563eb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all ease-in-out 0.5s;

}

.nav-links {
    font-size: 1.2em;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.nav-links>li>a {
    font-size: 5em;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.2em;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all ease-in-out 0.5s;

}

#icon {
    font-size: 2em;
    color: #000000;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}


body {
    background-color: #0f172a;
}

.main {
    height: 500px;
    border-radius: 25px;
    width: 35%;
    margin: auto;
    background-color: #ffffff;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    margin-top: 210px;

}


.main>h1 {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    margin: auto;
    width: 80%;
}



.btn {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 14px 0;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    transition: all 0.3s ease;
}

/* Button Colors */
.primary {
    background: #2563eb;
}

.success {
    background: #16a34a;
}

.warning {
    background: #d97706;
}

.danger {
    background: #dc2626;
}

/* Hover Effect */
.btn:hover {
    transform: translateY(-3px);
    opacity: 0.9;
}

#icon:hover {
    transform: scale(1.2);
}

.nav-links>li>a:hover {
    color: #2563eb;
}

.logo:hover {
    color: #000000;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #ffffff;
    margin-top: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
}


/*  */