 nav {
     border-radius: 20px;
     background-color: #ffffff;
     height: 70px;
     display: flex;
     justify-content: space-around;
     align-items: center;
 }

 .logo {
     font-size: 2em;
     font-weight: bold;
     color: #2563eb;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     transition: all ease-in-out 0.5s;

 }

 .nav-links {
     font-size: 1.2em;
     list-style: none;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 40px;
 }

 .nav-links>li>a {
     font-size: 5em;
     font-weight: 700;
     text-decoration: none;
     font-size: 1.2em;
     color: #000000;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     transition: all ease-in-out 0.5s;

 }

 #icon {
     font-size: 2em;
     color: #000000;
     cursor: pointer;
     transition: all ease-in-out 0.3s;
 }

 /* hover effects */

 #icon:hover {
     transform: scale(1.2);
 }

 .nav-links>li>a:hover {
     color: #2563eb;
 }

 .logo:hover {
     color: #000000;
     cursor: pointer;
 }

 body {
     background-color: #000000;
 }

 /* main work */


 #main {
     /* width: 100%; */
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 150px;
 }

 #container {
     border-radius: 20px;
     height: 400px;
     width: 500px;
     margin: auto;
     text-align: center;
     margin-top: 100px;
     color: #090000;
     background-color: #ffffff;
 }



 #container>h1 {
     /* margin-top: 30px; */
     padding-top: 30px;
     padding-bottom: 30px;
     font-size: 3em;
     margin-bottom: 20px;
     color: #2563eb;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-weight: 700;

 }

 input[type="number"] {
     margin-right: 10px;
     height: 40px;
     width: 300px;
     font-size: 1.5em;
     border-radius: 5px;
     text-align: center;
     margin-bottom: 20px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-weight: 600;


 }

 input:focus {
     outline: none;
     border: 2px solid #2563eb;
     color: #2563eb;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-weight: 600;
 }


 button {
     padding: 16px;
     text-align: center;
     align-items: center;
     justify-content: center;
     height: 48px;
     width: 100px;
     font-size: 1.2em;
     border-radius: 5px;
     background-color: #2563eb;
     color: #ffffff;
     cursor: pointer;
     font-weight: 700;
     transition: all ease-in-out 0.3s;
 }

 p {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 1.5em;
     margin-top: 20px;
     font-weight: 600;
 }
    