#para{
    text-align: center;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;    
    line-height: 1.7;
    color: #333333;
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    background-color: aqua;
}

.main{
    text-align: center;
    margin-top: 50px;
}

#image{
    margin-top: 50px;
}


#btn{
    padding: 300px;
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

#back{
    text-decoration: none;
    border-radius: 5px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    background-color: #007BFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    padding: 10px 10px;
    color: #fffbfb;
    transition: all ease-in-out 0.5s;
}

#back:hover{
    background-color: #00458e;
}


#h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}