nav {
     border-radius: 20px;
     background-color: #ffffff;
     height: 70px;
     display: flex;
     justify-content: space-around;
     align-items: center;
 }

 .logo {
     font-size: 2em;
     font-weight: bold;
     color: #2563eb;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     transition: all ease-in-out 0.5s;

 }

 .nav-links {
     font-size: 1.2em;
     list-style: none;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 40px;
 }

 .nav-links>li>a {
     font-size: 5em;
     font-weight: 700;
     text-decoration: none;
     font-size: 1.2em;
     color: #000000;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     transition: all ease-in-out 0.5s;

 }

 #icon {
     font-size: 2em;
     color: #000000;
     cursor: pointer;
     transition: all ease-in-out 0.3s;
 }

 /* hover effects */

 #icon:hover {
     transform: scale(1.2);
 }

 .nav-links>li>a:hover {
     color: #2563eb;
 }

 .logo:hover {
     color: #000000;
     cursor: pointer;
 }

 body {
     background-color: #000000;
 }

body {
    font-family: Arial, sans-serif;
background-color: #000000;}

.box {
    margin: auto;
    background: #ffffff;
    padding: 25px;
    height: 220px;
    width: 300px;
    margin-top: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

#back{
    
}

input {
    width: 270px;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

p {
    margin-top: 15px;
    font-weight: bold;
}


