nav {
     border-radius: 20px;
     background-color: #ffffff;
     height: 70px;
     display: flex;
     justify-content: space-around;
     align-items: center;
 }

 .logo {
     font-size: 2em;
     font-weight: bold;
     color: #2563eb;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     transition: all ease-in-out 0.5s;

 }

 .nav-links {
     font-size: 1.2em;
     list-style: none;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 40px;
 }

 .nav-links>li>a {
     font-size: 5em;
     font-weight: 700;
     text-decoration: none;
     font-size: 1.2em;
     color: #000000;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     transition: all ease-in-out 0.5s;

 }

 #icon {
     font-size: 2em;
     color: #000000;
     cursor: pointer;
     transition: all ease-in-out 0.3s;
 }

 /* hover effects */

 #icon:hover {
     transform: scale(1.2);
 }

 .nav-links>li>a:hover {
     color: #2563eb;
 }

 .logo:hover {
     color: #000000;
     cursor: pointer;
 }

 body {
     background-color: #000000;
 }

body {
    font-family: Arial, sans-serif;
background-color: #000000;}

.box {
    margin: auto;
    background: #ffffff;
    padding: 25px;
    height: 400px;
    width: 500px;
    margin-top: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.box>h2{
    font-size: 3em;
}

#back{
    background-color: #007bff;
    padding:  10px 10px;
    border-radius: 7px;
    color: white;
    /* padding-top: 10px; */
    margin-top: 100px;
    text-decoration: none;
    transition: all ease-in-out 0.5s;
}

#back:hover{
    background-color: #014d9f;
}

input {
    width: 270px;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
}

button {
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 300px;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
        transition: all ease-in-out 0.5s;

}

button:hover {
    background: #0056b3;
}

p {
    margin-top: 15px;
    font-weight: bold;
}


